<!--<h3>Welcome</h3>
<p><%= link_to 'Users:', user_session_path %> <%= User.count %> registered</p>
-->

<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Welcome to the Manage System </h1>
    <div class="m-3">
    <p class=""><%= link_to 'Users:', user_session_path %> <%= User.count %> registered</p>
    
    </div>
  </div>
</div>